.footer-style {
  padding-top: 10px;
  background-color: rgba(0,0,0,0.6);
  opacity: 1;
}
footer {
color: rgb(187, 104, 10);
}
footer h3 {
margin-bottom: 5px;
  font-weight: 800;
}
footer .footer-above {
padding-top: 30px;
background-color: #0b0c0e;

}
footer .footer-col {
margin-bottom: 5px;
}
footer .footer-below {
padding: 25px 0;
background-color: #000000;
}