*{
    margin: 0; padding: 0;
    box-sizing:border-box;
  }

  
  .navigation{width: 100%;
   background-image: linear-gradient(to right, #A35709, #F4991A);
  }

  .navbar-brand{color: white !important;}

  .nav-link{color: rgb(17, 16, 16)!important;}
  .nav-link:hover{color:#A35708(225,0,212) !important;}
  